// Media Queries

$telefono: 376px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1400px;

// Font-Families

$fuentePrincipal: 'Lato', sans-serif;

// Colors

$primario: #00BFC6;
$negro: #000;
$blanco: #fff;
$gris: #EDEDED; 