@use 'base/variables'as v;
@use 'base/mixins'as m;

.section1 {
    margin-top: 5rem;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;

        @include m.desktop {
            @include m.grid(3, 1fr);
            align-items: center;
            gap: 2rem;
        }
    }

    &__cardTitle {
        font-weight: 700;
        font-size: 2rem;
        margin: 1rem;
    }

    &__cardParragraph {
        text-align: center;
        line-height: 1;
    }

    &__boxes {
        display: flex;
        gap: 2rem;
    }

    &__box {
        background-color: v.$blanco;
        padding: 1rem 4.5rem;
        text-align: center;
        border-radius: 2rem 0 2rem 2rem;
        margin-bottom: 2rem;
    }

    &__boxTitle {
        font-weight: 900;
        font-size: 1.8rem;
    }

    &__boxText {
        line-height: 1;
    }

    &__cta{
        color: v.$primario;
        font-size: 1.8rem;
    }
}

